# Flights Data Exploration Challenge

In this challenge, you'll explore a real-world dataset containing flights data from the US Department of Transportation.

Let's start by loading and viewing the data.

In [2]:
import os
os.chdir('/Users/thedreamer/datascience/python/pythonML')

In [20]:
import pandas as pd
from matplotlib import pyplot as plt 

# Load data from csv file
df_flights = pd.read_csv('data/flights.csv')
df_flights.head(2)

$519.25

In [5]:
# Check for missing value 
missing_values = df_flights.isnull().sum()
print(missing_values)

AvgTicketPrice        0
Cancelled             0
Dest                  0
DestAirportID         0
DestCityName          0
DestCountry           0
DestLocation          0
DestRegion            0
DestWeather           0
DistanceKilometers    0
DistanceMiles         0
FlightDelay           0
FlightDelayMin        0
FlightDelayType       0
FlightNum             0
FlightTimeHour        0
FlightTimeMin         0
Origin                0
OriginAirportID       0
OriginCityName        0
OriginCountry         0
OriginLocation        0
OriginRegion          0
OriginWeather         0
dayOfWeek             0
hour_of_day           0
dtype: int64

In [6]:
# Check for duplicated
duplicated_rows = df_flights[df_flights.duplicated()]
print(duplicated_rows)

Empty DataFrame
Columns: [AvgTicketPrice, Cancelled, Dest, DestAirportID, DestCityName, DestCountry, DestLocation, DestRegion, DestWeather, DistanceKilometers, DistanceMiles, FlightDelay, FlightDelayMin, FlightDelayType, FlightNum, FlightTimeHour, FlightTimeMin, Origin, OriginAirportID, OriginCityName, OriginCountry, OriginLocation, OriginRegion, OriginWeather, dayOfWeek, hour_of_day]
Index: []

[0 rows x 26 columns]

In [21]:
# check data types consistency 
data_types = df_flights.dtypes
print(data_types)

df_flights.head(2)

AvgTicketPrice         object
Cancelled                bool
Dest                   object
DestAirportID          object
DestCityName           object
DestCountry            object
DestLocation           object
DestRegion             object
DestWeather            object
DistanceKilometers     object
DistanceMiles          object
FlightDelay              bool
FlightDelayMin          int64
FlightDelayType        object
FlightNum              object
FlightTimeHour        float64
FlightTimeMin          object
Origin                 object
OriginAirportID        object
OriginCityName         object
OriginCountry          object
OriginLocation         object
OriginRegion           object
OriginWeather          object
dayOfWeek               int64
hour_of_day             int64
dtype: object

,AvgTicketPrice,Cancelled,Dest,DestAirportID,DestCityName,DestCountry,DestLocation,DestRegion,DestWeather,DistanceKilometers,...,FlightTimeMin,Origin,OriginAirportID,OriginCityName,OriginCountry,OriginLocation,OriginRegion,OriginWeather,dayOfWeek,hour_of_day
0,$668.22,False,San Francisco International Airport,SFO,San Francisco,US,"{\n ""lat"": ""37.61899948"",\n ""lon"": ""-122.375...",US-CA,Sunny,"10,260.84",...,488.611,Naples International Airport,NA01,Naples,IT,"{\n ""lat"": ""40.886002"",\n ""lon"": ""14.2908""\n}",IT-72,Sunny,5,16
1,$519.25,False,Tulsa International Airport,TUL,Tulsa,US,"{\n ""lat"": ""36.19839859"",\n ""lon"": ""-95.8880...",US-OK,Sunny,"4,137.26",...,376.115,El Dorado International Airport,BOG,Bogota,CO,"{\n ""lat"": ""4.70159"",\n ""lon"": ""-74.1469""\n}",SE-BD,Rain,5,16

In [42]:
# Changing the data type for AvgTicketPrice 
# let remove the $ signe from the data
# 1 cpnvert AvgTicketPrice into string 
df_flights['AvgTicketPrice'] = df_flights['AvgTicketPrice'].astype(str)

# Extract numerical values from the 'AvgTicketPrice' column and convert to float
df_flights['AvgTicketPrice'] = df_flights['AvgTicketPrice'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

df_flights.head(2)
data_types = df_flights.dtypes
print(data_types)

AvgTicketPrice        float64
Cancelled                bool
Dest                   object
DestAirportID          object
DestCityName           object
DestCountry            object
DestLocation           object
DestRegion             object
DestWeather            object
DistanceKilometers     object
DistanceMiles          object
FlightDelay              bool
FlightDelayMin          int64
FlightDelayType        object
FlightNum              object
FlightTimeHour        float64
FlightTimeMin          object
Origin                 object
OriginAirportID        object
OriginCityName         object
OriginCountry          object
OriginLocation         object
OriginRegion           object
OriginWeather          object
dayOfWeek               int64
hour_of_day             int64
dtype: object